/* Estilos generales */
body {
    overflow-y: auto;
    min-height: auto; /* Altura mínima del viewport */
}

.btn {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #45a049;
}

#filtroCuil {
    padding: 5px;
    margin-bottom: 10vh;
    margin-left: 67%;
    border-radius: 1vh;
    box-sizing: border-box;
    width: 15vh;
}

h1 {
    width: 30%;
    margin: auto;
    color: white;
}

.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-left: 38.5%;
    display: none;
    margin-bottom: 25px;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button:hover {
    background-color: #b30077;
}

.toggle-button {
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.toggle-button:hover {
    background-color: #218838;
}

.form-group select {
    width: 100%;
    padding: 10px;
    margin: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.error-message {
    color: red;
    font-size: 12px;
}

/* Estilos para la tabla */
.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    cursor: pointer;
}

tr:hover {
    background-color: #f5f5f5;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.pagination button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    /* Estilos para el input de búsqueda */
    #searchInput {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        box-sizing: border-box;
        font-size: 14px;
    }

    /* Estilos para el select de páginas */
    #perPageSelect {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="%23000"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>') no-repeat right 10px center;
        background-size: 12px;
        cursor: pointer;
        background-color: #ddd;
    }

    /* Estilos para la tabla responsiva */
    .table-container {
        overflow-x: auto;
    }

    table {
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        white-space: nowrap; /* Evitar que el texto se desborde en pantallas pequeñas */
    }

    th {
        background-color: #f2f2f2;
        cursor: pointer;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .pagination button {
        margin: 0 5px;
        padding: 5px 10px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }

    .pagination button.disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
}
