/* Barra lateral */
.barra-lateral {
  background-color: #ffffff;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: column;  /* Organiza los elementos en columna */
}

/* Contenedor de logo */
.logo-container {
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Alinea el logo a la derecha */
  align-items: center; /* Centra el logo verticalmente */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Logo */
.logo {
  width: 100%; /* El logo ocupa el 100% del ancho */
  height: auto; /* Mantiene la proporción del logo */
}

/* Estilo para el menú de navegación */
.barra-lateral nav ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  flex-grow: 1; /* Hace que el menú ocupe todo el espacio disponible */
}

.barra-lateral nav li {
  margin: 10px 0;
}

/* Menú desplegable */
.barra-lateral .menu-desplegable {
  display: flex;
  align-items: center;
  color: #333333;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 1.1rem;
  margin: 8px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, padding-left 0.3s ease;
  margin-top: 20%;
}

.barra-lateral .menu-desplegable i {
  margin-right: 10px;
  font-size: 1.3rem;
}

/* Hover en el menú desplegable */
.barra-lateral .menu-desplegable:hover,
.barra-lateral .menu-desplegable:focus {
  background-color: #041cf7;
  color: white;
  padding-left: 20px;
}

/* Submenú */
.barra-lateral .dropdown {
  list-style-type: none;
  padding-left: 20px;
  margin: 5px 0 0 0;
  display: none;
}

.barra-lateral .dropdown li {
  margin: 5px 0;
}

.barra-lateral .dropdown li a {
  color: #555;
  font-size: 0.95rem;
  padding: 8px 0;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.barra-lateral .dropdown li a:hover {
  background-color: #041cf7;
  color: white;
}

/* Elemento activo en el menú */
.barra-lateral nav li.active .menu-desplegable {
  background-color: #041cf7;
  color: white;
  padding-left: 20px;
}

.barra-lateral nav li.active .menu-desplegable:hover {
  background-color: #041cf7;
  padding-left: 20px;
}

.barra-lateral nav li.active .dropdown {
  display: block;
}

/* Estilo para los enlaces activos en el submenú */
.barra-lateral nav .dropdown a.active {
  color: #041cf7;
  font-weight: bold;
  background-color: white;
  padding-left: 25px;
  text-decoration: none;
}

/* Enlaces en el submenú */
.barra-lateral nav .dropdown a {
  color: #555;
  text-decoration: none;
  padding: 8px 0;
  display: block;
  transition: background-color 0.3s ease;
}

.barra-lateral nav .dropdown a:hover {
  background-color: #041cf7;
  color: white;
  padding-left: 30px;
}

/* Botón de salida */
.boton-salir {
  margin-top: auto;  /* Esto asegura que el botón se quede en la parte inferior */
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.boton-salir i {
  margin-right: 10px;
  font-size: 1.3rem;
}
